<h1>Permits</h1>

<%= form_with(url: permits_path, method: 'get') do %>
  <%= text_field(nil, :search, value: @search) %>
  <button class="blue-button h-10">Search</button>
  <%= link_to "Clear Search", permit_submissions_path %>
<% end %>

<button class="blue-button h-10">
  <a  href="/permits/new">New Permit</a>
</button>

<div class="Table mt-4">
  <div class="Table-header">
    <div class="Table-cell"><%= sort_link("name") %></div>
    <div class="Table-cell"><%= sort_link("agency") %></div>
    <div class="Table-cell"><%= sort_link("permit_type_id", "Permit") %></div>
    <div class="Table-cell"><%= sort_link("deadline") %></div>
    <div class="Table-cell"><%= sort_link("status") %></div>
    <div class="Table-cell"><%= sort_link("permittee") %></div>
    <div class="Table-cell"><%= sort_link("equipment") %></div>
    <div class="Table-cell"><%= sort_link("location") %></div>
    <div class="Table-cell"></div>
  </div>
  <div class="Table-body">
    <% @permits.map do |permit| %>
      <div class="Table-row">
          <%= render 'shared/permit_row', permit: permit %>
          <div class="Table-cell"><%= link_to "Edit permit", permit_edit_url(id: permit.id) %></div>
      </div>
    <% end %>
  </div>
</div>
<div class="row flex_box">
  <div class="Table mt-4 grid_table">
    <div class="Table-header top-tasks">
      <div class="Table-cell"><%= link_to "Top Tasks" %></div>
    </div>
    <div class="Table-body">

    </div>
  </div>
  <% if @alert.present? %>
    <div class="grid_table mt-4">
      <%= render 'alerts/latest_alert', alert: @alert %>
    </div>
  <%end%>
</div>
