<h1>Permits</h1>

<div class="inline-block">Name</div>
<div class="inline-block">Agency</div>
<div class="py-3 inline-block">Deadline</div>
<% @permits.map do |permit| %>
  <div class="py-1">
    <div class="inline-block"><%= permit.name %></div>
    <div class="inline-block"><%= permit.agency %></div>
    <div class="inline-block"><%= permit.deadline %></div>
    <a href="/permits/<%= permit.id %>">Show
    <%= button_to "Destroy", permit, method: :delete %>
  </div>
<% end %>
<a href="/permits/new">New Permit</a>
