<h1>Permit</h1>
Name: <%= @permit.name %>
Agency: <%= @permit.agency %>
Deadline: <%= @permit.deadline %>
Status: <%= @permit.status %>
Documents:
<% @permit.permit_documents.map(&:document).map do |document| %>
  <%= unless document.attachment.nil? then image_tag url_for(document) end %>
<% end %>
<%= link_to 'Back to all permits', permits_path, class: "block p-5" %>
